@charset "UTF-8";
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration:none;
}
.box {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vh;
    height: 60vh;
    font-size: 20px;
    border-radius: 20px;
    color: black;
    background-color: aliceblue;
}
.box1 {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 60vh;
    position: relative;
    top: 5vh;
    color: aliceblue;
}
input {
    padding: 20px;
    border-radius: 10px;
    width:45vh;
    margin: 8px;
    color: black;
}
button {
    width: 15vh;
    height: 5vh;
    font-size: 20px;
    padding: 10px 5px 10px 5px;
    margin: 10px 30px 2px 8px;
    border-radius: 10px;
    color:black;
}
.for1 {
    width: 50%;
    height:60vh;
    margin: 10px;
    margin-left: 1px;
}
input[type="check"] {
    margin: 0;
    align-items: left;
}
input::placeholder{
    color:black;
    font-size: 16px;
}
.okok {
    margin: 0;
}
body {
    background-image: url('../images/u.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
h1{
    padding-bottom: 20px;
}
.span{
    font-size: 16px;

}
.forgot{
    margin: 6px 2px 2px 10px;
    font-size: 26px;

}
#rememberMe{
    margin-left: 10px;
    width: 20px;
    height: 20px;
    border: 2px solid black;
}

.header {
    height: 7vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; 
    background-color:white;
    color: white;
}

.header h1 {
    font-size: 2rem;
    margin: 0;
}

.header ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    margin: 0;
}

.header ul li {
    margin: 0 15px;
    font-size: 1rem;
}

.header ul li a {
    color:black;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 5px 10px;
}

.header ul li a:hover {
    background-color: #555;
    color:white;
    border-radius:15px;

}

.hop {
    text-align: center;
    padding: 10px;
}

.hop h1 {
    font-size: 2rem;
    color: black;
}
footer {
    width: 100%;
    background-color:white;
    color:black;
    padding:4px;
    height:6vh;
}
footer h1{
	text-align:center;
	padding:4px;
}
.fox{
	height:78vh;
	width:100%;
}

